@import url(./fonts/HypatiaSansPro/HypatiaSansPro.css);
@import url(./icons/uphair-icons/uphair-icons.css);
html, body {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 16px;
}

body {
  color: #0e0e0e;
  background-color: #fefefe;
  font-family: 'HypatiaSansPro', sans-serif;
  font-weight: 200;
}

main {
  text-align: center;
}

a {
  -webkit-tap-highlight-color: transparent;
}

.brand {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 210px;
  padding-bottom: 1.4em;
  text-align: center;
}

.brand__title {
  position: relative;
  z-index: 0;
}

.brand__additional {
  position: relative;
  z-index: 0;
}

.brand__logo {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 30px 0;
  box-sizing: border-box;
  background-color: #fefefe;
}

.btn-icon {
  display: inline-block;
  height: 1em;
  color: inherit;
  text-decoration: none;
  font-size: 1em;
  line-height: 1em;
  text-align: center;
  outline: none;
}

.btn-icon__icon {
  display: block;
}

.btn-icon__text {
  display: block;
  font-size: 0.4em;
  line-height: 1.4em;
}

.btn-icon--small {
  height: auto;
  font-size: 0.6em;
  vertical-align: top;
}

.btn-icon:focus {
  text-shadow: 0px 3px 3px rgba(181, 95, 120, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.3);
}

.contact-card {
  display: block;
  font-size: 1.6em;
}

.contact-card + .contact-card {
  margin: 1.6em 0;
}

.contact-card__icon {
  display: inline-flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  width: 1em;
  height: 1em;
  color: #b5c378;
  font-size: 2em;
  opacity: 0.68;
}

.contact-card__icon .btn-icon + .btn-icon {
  margin-left: 1em;
}

.contact-card__label {
  display: none;
}

.contact-card__value {
  margin-top: 0.45em;
}
