doctype html
head
  meta(charset="utf-8")
  title UpHair Color Bar
  link(rel="stylesheet" href="index.css")
body
  main
    .brand
      h1.brand__title UpHair
      h2.brand__additional Color Bar
    figure.logo
    .contact-card
      h4.contact-card__label Телефон
      p.contact-card__value 
        .phone-number.phone-number--no-city-code
          span.phone-number__city-code +7 342
          span.phone-number__number 203-15-05
    .contact-card
      h4.contact-card__label Instagram
      p.contact-card__value uphair_colorbar
    .contact-card
      h4.contact-card__label VK
      p.contact-card__value uphaircolorbar
    .contact-card
      h4.contact-card__label Адрес
      p.contact-card__value Советская 51а
  
  script(src="index.js")
